# Ignore a single file at repo root:
/pkg.txt
/test.json
/env
/stats_cache.json

# Ignore a file by name anywhere in the repo:
preprocessing.py
train_model.py

# Ignore a specific file in a subdirectory:
/data/dataset_risque_defaut_prepared.csv
/notebooks/02_prepared.ipynb
/pages/*
/dashboard.jpg

# Ignore cache and temporary files:
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/
