<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>API de Prediction</title>
    <style>
        body {
            font-family: Arial;
            margin: 40px;
            background: #f4f4f4;
        }
        .container {
            background: white;
            padding: 30px;
            border-radius: 10px;
            max-width: 600px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        li { margin-bottom: 10px; }
        a { color: #1a73e8; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <div class="container">
        <h1>API de Prédiction du Risque de Défaut</h1>
        <p>Bienvenue sur l’API de scoring bancaire réalisée pour le projet ML.</p>

        <a href="/docs" target="_blank">Documentation interactive (Swagger)</a>

        <!-- <h2>Endpoints utiles</h2>
        <ul>
            <li><a href="/docs">Documentation interactive (Swagger)</a></li>
            <li><a href="/predict">Prediction individuelle</a></li>
            <li><a href="/predict_file">Prediction fichier CSV</a></li>
            <li><a href="/predict_file_download">Télécharger CSV scoré</a></li>
        </ul> -->
    </div>
</body>
</html>
